.header {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .07);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    background-image: url('../../images/logo.png');
    width: 6.3rem;
    height: 5.7rem;
    display: inline-block;
    text-indent: -100rem;
}