html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 1rem;
}

.page {
  padding: 2rem;
}

h2 {
  font-size: 2.2rem;
  color: #0072e1;
  padding-bottom: 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: inline-block;
  padding-bottom: .5rem;
}

input {
  width: 100%;
  padding: .8rem;
  border: 1px solid #cbcbcb;
  border-radius: .5rem;
}

input:focus {
  border: 1px solid #0072e1;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
  outline: none;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  background-color: transparent;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .15);
}

.form-btn {
  width: 100%;
}

button[type=submit] {
  background-color: #fbdc2b;
}

/* Utilities */
.opacity-2 {
  opacity: .2;
}

.button-link {
  border: 0;
  background: none;
}

.mb-small {
  margin-bottom: 1rem;
}

.text-alert {
  color: #ff0059
}